* {
    box-sizing: border-box;
}

.zoom {
    /*padding: 50px;*/
    /*background-color: green;*/
    *transition: transform .2s;*/
    width: 500px;
    height: 200px;
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(0); /* Safari 3-8 */
    transform: scale(2);
     
}

/*.button.zoom-in {
   ...
   cursor: -webkit-zoom-in;
   cursor: zoom-in;
}*/